@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
}

body {
	@apply bg-gray-dark;
	@apply text-white;
}
